<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  My club is a the place where you can see all the famous pingpong
  athletes in the world and follow your favorite players. You can
  receive latest news about the players you are following.
</p>