<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  If you have any problems using this website or wants to
  give us your feedback, please feel free to contact us.
  You can send an email to this address: admin@myclub.com.
</p>